@using Microsoft.AspNetCore.Identity;
@using TeamManagementApp.ViewModels;
@using TeamManagementApp.Models
@model FileUploadViewModel
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int counter = Model.FilesOnDatabase.Count;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Upload Files</h4>
                    <hr />
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success alert-dismissible" style="margin-top: 10px">
                            @ViewBag.Message
                        </div>
                    }
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group" style="margin-bottom: 20px">
                            <label for="files">Choose File(s)</label>
                            <input type="file" id="files" name="files" class="form-control-file" multiple required />
                        </div>
                        <div class="form-group">
                            <label for="description">File Description</label>
                            <textarea id="description" name="description" class="form-control" autocomplete="off" placeholder="Enter File Description" required></textarea>
                        </div>
                        <hr />
                        <button class="btn btn-secondary" type="submit" asp-controller="File" asp-action="UploadToDatabase">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Files on Database</h4>
                    <hr />
                    @if (Model.FilesOnDatabase.Count == 0)
                    {
                        <p>No Records Found</p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table id="filesTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 20px;">#</th>
                                        <th class="text-center" style="width: 150px;">Name</th>
                                        <th class="text-center" style="width: 150px;">Description</th>
                                        <th class="text-center" style="width: 100px;">File Type</th>
                                        <th class="text-center" style="width: 120px;">Created On</th>
                                        <th class="text-center" style="width: 150px;">Uploaded By</th>
                                        <th class="text-center" style="width: 250px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var file in Model.FilesOnDatabase)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            <td>@file.Name</td>
                                            <td>@file.Description</td>
                                            <td>@file.FileType</td>
                                            <td>@file.CreatedOn</td>
                                            <td>@file.UploadedBy</td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Download</a>
                                                    @if (file.UploadedById == UserManager.GetUserId(User))
                                                    {
                                                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Delete</a>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-danger disabled" disabled>Delete</button>
                                                    }
                                                </div>
                                                
                                            </td>
                                        </tr>
                                        counter--;
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
