@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email:</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="inputEmail" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password:</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" id="inputPassword" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-check">
                            <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMe" />
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>

                        <div class="text-center">
                            <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        

                    </form>
                    <section>
                        <div class="text-center">
                            <hr class="line">
                            <span class="or" >Or Sign in with</span>
                        </div>

                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="text-center">
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>


                    </section>
                </div>
                <div class="card-footer text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .line {
    height: 1px; /* Adjust the thickness of the line */
    background-color: #ccc; /* Adjust the line color */
    width: 100%;
    position: relative;
    margin: 10px 0; /* Adjust the margin for spacing */
}

.or {
    background-color: white; /* Background color around "Or" */
    padding: 0 10px; /* Adjust the padding for spacing around "Or" */
    position: relative;
    z-index: 1; /* Ensure "Or" appears above the line */
}

</style>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
